.inputContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-width: 0%;
}

#addTradeLeg {
    padding: 0 var(--padding) var(--padding) var(--padding);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
  }

.addOption {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-width: 0%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-top: 1px solid var(--background-color-main);
}

@media screen and (max-width: 750px) {
    .addOption {
      flex-wrap: wrap;
    }
  }