.inputContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-width: 0%;
}

#addTradeLeg {
    padding: 0 var(--padding) var(--padding) var(--padding);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
  }

.addOption {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}