/* table {
    background-color: var(--background-color-secondary);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.5rem;
    border: 1px solid var(--background-color-alt);
    box-shadow: 0 5px 22px 0 rgba(0, 0, 0, .2);
  }
  
  
  thead {
    border-radius: 1rem;
    border-bottom: 1px solid var(--background-color-alt);
  }
  
  tbody > tr {
  }
  
  th {
    padding: 1rem;
    border-bottom: 1px solid var(--background-color-secondary);
  }
  
  td {
    background-color: none;
    padding: 1rem;
  } */

.tableTools {
  border-radius: var(--border-radius-main);
}

.tableContainer {
    /* overflow: auto; */
    box-shadow: var(--box-shadow) ;
    /* border-radius: var(--border-radius-main); */
    border-radius: 0.5rem;
    margin: 1rem;
    border: 1px solid var(--border-light);
    background-color: var(--background-color-secondary);
    /* white-space: nowrap; */
}

.editButtons {
  display: flex;
}

.slash {
  padding: var(--padding);
}

.callStrike {
  /* color: var(--background-color-button) */
  border: 1px solid  var(--background-color-button-green); 
  /* background-color:  var(--background-color-button);  */
  padding: var(--padding-small);
  /* color: var(--background-color-main); */
  border-radius: var(--border-radius-main);
  display: inline-block;
  margin: 0.25rem;
}

.putStrike {
  /* color: var(--background-color-button) */
  border: 1px solid  var(--background-color-button-red); 
  /* background-color:  var(--background-color-button-red);  */
  padding: var(--padding-small);
  /* color: var(--background-color-main); */
  border-radius: var(--border-radius-main);
  display: inline-block;
  margin: 0.25rem;
}

.actionOpen {
  /* color: var(--background-color-button) */
  background-color:  var(--background-color-button-green); 
  color: var(--background-color-main);
  /* border: 1px solid  var(--background-color-button);  */
  padding: var(--padding-small);
  border-radius: var(--border-radius-main);
}

.actionClose {
  /* color: var(--background-color-button) */
  background-color:  var(--background-color-button-red); 
  color: var(--background-color-main);
  /* border: 1px solid  var(--background-color-button-red);  */
  padding: var(--padding-small);
  border-radius: var(--border-radius-main);
}

.actionRoll {
  /* color: var(--background-color-button) */
  background-color:  var(--background-color-button-blue); 
  color: var(--background-color-main);
  /* border: 1px solid  var(--background-color-button-blue);  */
  padding: var(--padding-small);
  border-radius: var(--border-radius-main);
}

/* .individualTrades {
  background-color:  var(--background-color-main)
} */

.individualTrades td {
  border-bottom: 1px solid var(--border-light);
  background-color: var(--background-color-main);
}

.debit {
  color: var(--background-color-button-red)
}

.credit {
  color: var(--background-color-button-green);
  /* border-radius: var(--border-radius-main);
  color: white;
  background-color: var(--background-color-button-green);
  padding: var(--padding-small); */
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--border-light);
  padding: 0;
  width: 100%;
}
