.inputContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-width: 0%;
}

#addTradeLeg {
    padding: 0 var(--padding) var(--padding) var(--padding);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
  }

.buySellButton {
  background-color: var(--background-color-button);
  color: var(--background-color-main);
}

.addOption {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-width: 0%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-top: 1px solid var(--background-color-main);
}

.buttonAdd {
  background-color: var(--background-color-button);
  color: var(--background-color-main);
  padding: 0.2rem 0.5rem;
  float: right;
}

.buttonSave {
  background-color: var(--background-color-button-green);
}

/* Make buttons round with centered text */
.buttonRemove:before {
  content:'';
  display:inline-block;;
  vertical-align:middle;
  padding-top:100%;
}

.buttonRemove {
  min-width: 25px;
  cursor: pointer;
  color: white;
  border-radius: var(--border-radius-main);
  text-align: center;
  padding: 0;
  background-color: var(--background-color-button-red);
  color: var(--background-color-main);
  /* padding: 0.2rem 0.5rem; */
}

.buttonRemove:hover {
  border: none;
  filter: brightness(125%);
}


@media screen and (max-width: 750px) {
    .addOption {
      flex-wrap: wrap;
    }
  }