#navContainer {
    /* flex: 1 0 20%; */
    /* height: 100%; */
    z-index: 1;
    /* background-image: var(--background-color-gradient); */
    /* border-right: 1px solid var(--border-light); */
    background-color: var(--background-color-nav);
    /* background-image: linear-gradient(var(--background-color-button),var(--background-color-secondary)); */
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100%;
  }
  
.navButtons {
    color: var(--text-color-main);
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    background-color: transparent;
    /* border: 1px solid transparent; */
    cursor: pointer;
    border-radius: var(--border-radius-main);
    text-align: left;
    display: block;
    width: 100%;

}

#topNavContainer {
    /* flex: 1 0 20%; */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* background-image: var(--background-color-gradient); */
    border-bottom: 1px solid var(--border-light);
    background-color: var(--background-color-main);
    /* background-color: red; */
    /* background-image: linear-gradient(var(--background-color-button),var(--background-color-secondary)); */
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--top-nav-size);
}

#topNavTitle {
    padding: var(--padding-title);
}

#topNavElements {
    display: flex;
}

#topNavElements > a{
    padding: var(--padding);
    border: 1px solid transparent;
    color: white;
    text-decoration: none;
    /* display:inline-block; */
}

#topNavElements > a:hover{
    border-radius: var(--border-radius-mid);
    color: var(--background-color-blue);
    /* border: 1px solid var(--background-color-blue); */
}


/* #topNavElements > a:hover::after{
    content: "";
    display: block;
    width: 70%;
    border-bottom: 1px solid;
    margin: 0px auto;
} */


.active {
    background-color: var(--background-color-button);
    background-image: var(--background-color-gradient);

    color: var(--background-color-main);
}

#logo {
    padding: 1rem;
    text-align: left;
}

.logoHr {
    border-color: var(--text-color-mid);
}

ul {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    gap: 1rem;
    max-width: 500px;
}

li {
    width: 100%;
    color: var(--text-color-mid)
}