#navContainer {
    /* flex: 1 0 20%; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    z-index: 1;
    /* background-image: var(--color-gradient); */
    /* border-right: 1px solid var(--border-light); */
    background-color: var(--color-nav);
    /* background-image: linear-gradient(var(--color-button),var(--color-secondary)); */
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    /* min-width: 150px; */
    height: 100%;
  }
  
.navButtons {
    color: white;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    background-color: transparent;
    /* border: 1px solid transparent; */
    cursor: pointer;
    border-radius: var(--border-radius-main);
    text-align: left;
    display: block;
    width: 100%;
}

.navButtons:hover {
    color: var(--color-hover);
}

#topNavContainer {
    /* flex: 1 0 20%; */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* background-image: var(--color-gradient); */
    /* border-bottom: 1px solid var(--border-light); */
    background-color: var(--color-main);
    /* background-image: linear-gradient(var(--color-button),var(--color-secondary)); */
    top: 0;
    /* margin-left: var(--nav-width); */
    height: var(--top-nav-size);
}

#topNavTitle {
    padding: var(--padding-title);
    font-weight: 600;
    font-size: 1.25rem;
}

#topNavElements {
    display: flex;
}

#topNavElements a{
    padding: var(--padding-normal);
    border: 1px solid transparent;
    color: white;
    text-decoration: none;
    /* display:inline-block; */
}

#topNavElements a:hover{
    border-radius: var(--border-radius-mid);
    color: var(--color-blue);
    /* border: 1px solid var(--color-blue); */
}


/* .navElements > a:hover::after{
    content: "";
    display: block;
    width: 70%;
    border-bottom: 1px solid;
    margin: 0px auto;
} */

.sideNavElements{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sideNavElements ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.sideNavElements a{
    text-decoration: none;

    /* color: white; */
}
/* .sideNavElements a:hover{
    color: var(--color-hover);
} */

.active {
    /* background-color: var(--color-button); */
    background-image: var(--color-gradient);
    color: white;
}

.active:hover {
    color: white;
}

#logo {
    padding: 1rem;
    text-align: left;
}

.logoHr {
    border-color: var(--text-color-mid);
}

nav ul {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    gap: 1rem;
    max-width: 500px;
}

li {
    width: 100%;
    color: var(--text-color-mid);
}

.logout {
    margin-top: auto;
    width: 100%;
}