.containerTemplate {
  border-radius: var(--border-radius-main);
  border: 1px solid var(--background-color-secondary);
  box-shadow: var(--box-shadow);
  min-width: 0%;
  background-color: var(--background-color-secondary);
  margin: var(--margin);
}

.titleTemplate {
  text-align: left;
  padding: var(--padding-title);
  border-bottom: 1px solid var(--text-color-dark);
}

.bodyTemplate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding);
}

.footerTemplate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  border-top: 1px solid var(--text-color-dark);
  padding: var(--padding);
}

#csvBody {
  flex-direction: row;
}