.header1 {
    font-size: var(--text-size-3);
}

.header2 {
    color: var(--text-color-mid);
}

.header3 {
    font-size: 1.5rem;
    font-weight: 100;
}

sup {
    position: relative;
    top: -.5rem;
}

.linkContainer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.linkButton {
    background-color: white;
    color: var(--color-main);
    padding: var(--padding-normal) var(--padding-spacious);
    border-radius: var(--border-radius-main);
    font-weight: 600;
    text-decoration: none;
}

.linkButton:hover {
    background-color: var(--color-hover);
    color: var(--color-main);
}

.flexContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: stretch;
}

.textContainer {
    padding: var(--padding-normal);
    flex: 1;
    margin: var(--margin);
}

.pMuted {
    color: var(--text-color-mid);
}
