.dashboard {
    margin-left: var(--nav-width);
}

.header1 {
    font-size: var(--text-size-3);
}

.header2 {
    color: var(--text-color-mid);
}

.header3 {
    font-size: 1.5rem;
    font-weight: 100;
}

.textLeft {
    text-align: left;
}

sup {
    position: relative;
    top: -.5rem;
}

.linkContainer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.linkButton {
    /* background-color: white; */
    background: var(--color-gradient);
    color: var(--color-main);
    padding: var(--padding-normal) var(--padding-spacious);
    border-radius: var(--border-radius-main);
    font-weight: 600;
    text-decoration: none;
}

.linkButton:hover {
    background-color: var(--color-hover);
    color: var(--color-main);
}

.flexContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: stretch;
}

.flexContainer30 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 30%;
    margin: auto;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.flexColumnStretch {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: auto;
}

.flexStretch {
    align-self: stretch;
}

.spaceBetween {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.textContainer {
    padding: var(--padding-normal);
    margin: var(--margin);
}

.flex1 {
    flex: 1;
}
.pMuted {
    color: var(--text-color-mid);
}

.bulletList{
    /* list-style-type: disc; */
    text-align: left;
    font-weight: 550;
}

.bulletList li {
    color: var(--color-blue);
    padding: var(--padding-condensed);

}

.panelContainer {
    display: flex;
    height: 100vh;
    color: var(--color-main);
}

.panelLeft {
    flex: 1;
    background-color: white;
    width: 50%;
}

.panelRight {
    flex: 1;
    width: 50%;
}

.signupButton {
    color: var(--color-main);
    background: var(--color-gradient);
    margin-top: var(--margin);
    width: 100%;
    padding: var(--padding-condensed);
}