.modalContainer {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: var(--text-color-light);
}

.modalOverlay {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.2);
}

dialog {
    border: none;
    background-color: transparent;
}

/* dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 999;
} */