.modalContainer {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: var(--text-color-light);
    box-shadow: var(--box-shadow);
}

.modalOverlay {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
}

dialog {
    border: none;
    /* background-color: transparent; */
    min-width: 0%;
    padding: 0;
    border-radius: var(--border-radius-main);
}

/* dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 999;
} */

.addTrade {
    background-image: var(--color-gradient);
}

.modalButtonContainer {
    display: flex;
    gap: 1rem;
    padding: var(--padding-condensed);
    text-align: left;
}