#navContainer {
    /* flex: 1 0 20%; */
    /* height: 100%; */
    z-index: 1;
    background-color: var(--background-color-main);
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
  }
  
nav {
}

.navButtons {
    color: var(--text-color-main);
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: var(--background-color-secondary);
    border-radius: var(--border-radius-main);
    text-align: left;
    display: block;
    width: 100%;

}

#logo {
    padding: 1rem;
    text-align: left;
}

ul {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    gap: 1rem;
    max-width: 500px;
}

li {
    width: 100%;
}
