:root {
  --color-nav : #161b22;
  --color-main : #0d1117;
  --color-secondary : #161b22;
  --color-header : #ffffff; 


  --color-highlight : #eaeaea;
  --color-button : #d8d652;
  --color-blue : #3faff9;
  --color-green : #52d87b;
  --color-red :#f04438;
  --color-purple :#855bf0;
  --color-yellow :#cef038;

  --color-gradient : linear-gradient(90deg, var(--color-blue), var(--color-purple)); 

  --color-hover-grad : linear-gradient(#3ac2d4, #227b86 );
  --color-hover :#aebaca;

  --top-nav-size : 50px;

  --hover-light : #f3f3f3;

  /* --color-main-light : #eaeaea;
  --color-secondary-light : #f5f5f5; */
  
  --border-dark : #262b33;
  --border-light : #c7d0de;
  --border-mid : #434a60;

  --text-color-light : #eaeaea;
  --text-color-header-light : #667085;
  --text-color-mid : #6e7681;
  --text-color-dark : #eaeaea;

  --text-size-4 : 4rem;
  --text-size-3 : 3rem;
  --text-size-2 : 2rem;
  --text-size-1 : 1.5rem;

  --nav-width : 280px;
  --padding-spacious : 1.5rem;
  --padding-normal : 1rem;
  --padding-condensed : 0.5rem;
  --padding-small : 0.25rem;
  --padding-title : 1rem;
  --margin : 1rem;
  --margin-condensed : 0.5rem;

  --border-radius-main : 0.25rem;
  --border-radius-mid : 0.5rem;

  /* --box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
  --box-shadow : 0px 0px 10px 0 rgba(0, 0, 0, .1);
  --box-shadow-light : 0px 0px 5px 0 rgba(1, 1, 1, .2);
}
* {
  box-sizing: border-box;

}

body {    
  margin: 0px;
  background-color: var(--color-main);
  min-height: 100vh;
  color: var(--text-color-light);
  /* font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif; */
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  /* font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
}

#root {
  text-align: center;
  min-height: 100%;
}

main {
  overflow-y: auto;
}

#pageContainer {
  /* margin-top: var(--top-nav-size); */
}

#mainContainer {
  padding-left: var(--nav-width);
  margin-top: var(--top-nav-size);
}

.container_xl {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.darkBoxA {
  border: 1px solid var(--border-dark);
  border-radius: var(--border-radius-main);
  background-color: var(--color-secondary);
}

.darkBoxB {
  border: 1px solid var(--border-dark);
  border-radius: var(--border-radius-main);
  background-color: var(--color-main);
}

.textButton {
  text-decoration: none;
  color: var(--color-purple);
}

.text05 {
  font-size: 0.5rem;
}

.text75 {
  font-size: 0.75rem;
}

.text15 {
  font-size: 1.5rem;
}

.text20 {
  font-size: 2rem;
}

.text30 {
  font-size: 3rem;
}

.textDark {
  color: var(--color-main);
  padding-left: 0;
}

ul {
  margin: 0;
  padding: var(--padding-normal);
}

button {
  background-color: var(--color-button);
  color: var(--color-main);
  border: none;
  padding: 0.25rem 0.5rem;
  /* margin: 0.25rem; */
  border-radius: var(--border-radius-main);
}

button:hover {
  filter: brightness(125%);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--border-mid);
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Hacky way to change date input icon */
::-webkit-calendar-picker-indicator {
  /* filter: invert(1); */
}

fieldset {
  border: 1px solid var(--border-dark);; 
  border-radius: var(--border-radius-main);
  min-width: 0%;
  margin: 0.5rem;
}

label {
  padding: var(--padding-condensed) 0;
}
/* legend
{
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.width20 {
  width: 20%;
}

.width30 {
  width: 30%;
}

.inputDark label {
  display: flex;
  flex-direction: column;
  gap: var(--padding-condensed);
  padding: var(--padding-condensed);
}


.inputDark input, select {
  align-self: stretch;
  background-color: var(--color-main);
  border: 1px solid var(--border-dark);
  color: var(--text-color-dark);
  padding: var(--padding-condensed);
  border-radius: var(--border-radius-main);
}

/* .inputLight {
  color: var(--color-main);
  border: solid 1px var(--border-light);
  background-color: transparent;
} */

.inputLight div {
  display: flex;
  flex-direction: column;

}

.inputLight label {
  background-color: transparent;
  color: var(--color-main);
  align-self: flex-start;
  /* padding: 0; */
  margin-top: 0.5rem;
}


.inputLight input, select {
  background-color: transparent;
  border: solid 1px var(--border-light);
  color: var(--input-color-light);
  padding: var(--padding-condensed);
  border-radius: var(--border-radius-main);
}

input[type=text], input[type=password], input[type=date], input[type=number], input[type=checkbox], input[type=email], select{
  /* margin: 0.25rem 0; */
  display: block;
  /* border: 1px solid var(--color-highlight); */
  box-sizing: border-box;
  border-radius: var(--border-radius-main);
}


input[type=number]{
  -moz-appearance: textfield;

}

input[type=date]{
  font-family: inherit;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 0%;
  padding: var(--padding-condensed);
}

.formContainer {
  padding: 0 var(--padding-condensed) var(--padding-condensed) var(--padding-condensed);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.containerTemplate {
  border-radius: var(--border-radius-main);
  border: 1px solid var(--border-dark);
  box-shadow: var(--box-shadow);
  min-width: 0%;
  background-color: var(--color-secondary);
  color: var(--text-color-dark)
}

.titleTemplate {
  text-align: left;
  padding: var(--padding-title);
  border-bottom: 1px solid var(--border-dark);
}

.bodyTemplate {
  display: flex;
  flex-direction: column;
  padding: var(--padding-condensed);
}

.footerTemplate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  border-top: 1px solid var(--border-dark);
  padding: var(--padding-condensed);
}


@media screen and (max-width: 750px) {
  #addTradeBody, .addOption {
    flex-wrap: wrap;
  }


}

@media screen and (max-width: 1000px) {
  .width20 {
    width: 100%
  }
  .width30 {
    width: 100%
  }
}

table {
  background-color: var(--color-secondary);
  border-top: 1px solid var(--border-dark);
  border-bottom-left-radius: var(--border-radius-mid);
  border-bottom-right-radius: var(--border-radius-mid);
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  min-width: 600px;
  overflow:hidden;
  font-size: 0.9em;
  color: var(--text-color-dark);
}


caption {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  /* text-align: left */
}


thead > tr {
  background-color: var(--color-main);
  color: var(--text-color-light)
}

tbody > tr {
  background-color: var(--color-secondary);
}

tr {
  transition: transform 0.01s;
  
}

tr:hover {
  transform: translateX(5px); /* Moves row outside the table */
  border: 1px solid var(--color-blue );
  border-style: solid none;
}


tr:hover td:first-child {
  border-left: var(--color-blue );
  border-left-style: solid;
  border-top-left-radius: var(--border-radius-main);
  border-bottom-left-radius: var(--border-radius-main);
}

tr:hover td:last-child {
  border-right: var(--color-secondary);
  border-right-style: solid;
  border-bottom-right-radius: var(--border-radius-main);
  border-top-right-radius: var(--border-radius-main);
}

th, td {
  background-color: transparent;
  text-align: left;
  padding: 0.5rem 0.5rem;
  min-width: 50px;
  border-bottom: 1px solid var(--border-dark);
}

.inputCsv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-condensed);
  /* margin: 1rem; */
}

.inputCsv >  * {
  padding: 0.25rem;
}


.inputCsv > label {
  align-content: flex-start;
}

.inputCsv > input::file-selector-button {
  background-color: var(--color-button);
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-main);
}