:root {
  --background-color-nav : #161b22;
  --background-color-main : #0d1117;
  --background-color-secondary : #161b22;
  --background-color-header : #ffffff; 

  --background-color-gradient : linear-gradient(90deg, #3ac2d4, #52d87b ); 

  --background-color-highlight : #eaeaea;
  --background-color-button : #d8d652;
  --background-color-blue : #3ac2d4;
  --background-color-green : #52d87b;
  --background-color-red :#f04438;

  --top-nav-size : 50px;

  --hover-light : #f3f3f3;

  /* --background-color-main-light : #eaeaea;
  --background-color-secondary-light : #f5f5f5; */
  
  --border-light : #262b33;
  --border-mid : #434a60;

  --text-color-light : #eaeaea;
  --text-color-header-light : #667085;
  --text-color-mid : #b3b9c6;
  --text-color-dark : #eaeaea;

  --text-size-large : 4rem;
  --text-size-med : 3rem;

  --nav-width : 280px;
  --padding : 0.5rem;
  --padding-small : 0.25rem;
  --padding-title : 1rem;
  --margin : 1rem;

  --border-radius-main : 0.25rem;
  --border-radius-mid : 0.5rem;

  /* --box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
  --box-shadow : 0px 0px 10px 0 rgba(0, 0, 0, .1);
  --box-shadow-light : 0px 0px 5px 0 rgba(1, 1, 1, .2);
}

body {    
  margin: 0px;
  background-color: var(--background-color-main);
  min-height: 100vh;
  color: var(--text-color-light);
  /* font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif; */
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"

}

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

main {
  overflow-y: auto;
}

#pageContainer {
  margin-top: var(--top-nav-size);
}

#mainContainer {
  padding-left: var(--nav-width);
  margin-top: var(--top-nav-size);
}

button {
  background-color: var(--background-color-button);
  color: var(--background-color-main);
  border: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  border-radius: var(--border-radius-main);
}

button:hover {
  filter: brightness(125%);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--border-mid);
  padding: 0;
  margin: 0;
  width: 100%;
}

.inputSelect {
  background-color: var(--background-color-main);
  border: solid 1px var(--border-light);;
  min-width: 0;
  color: var(--text-color-dark);
  padding: var(--padding);
}

/* Hacky way to change date input icon */
::-webkit-calendar-picker-indicator {
  /* filter: invert(1); */
}

fieldset {
  border: 1px solid var(--border-light);; 
  border-radius: var(--border-radius-main);
  min-width: 0%;
  margin: 0.5rem;
}

label {
  padding: var(--padding);
}
/* legend
{
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
  background-color: var(--background-color-main);
  border: 1px solid var(--border-light);
  color: var(--text-color-dark);
  padding: var(--padding);
  border-radius: var(--border-radius-main);
}

input[type=text], input[type=date], input[type=number], input[type=checkbox], select{
  margin: 0.25rem 0;
  display: block;
  /* border: 1px solid var(--background-color-highlight); */
  box-sizing: border-box;
  border-radius: var(--border-radius-main);
}


input[type=number]{
  -moz-appearance: textfield;

}

input[type=date]{
  font-family: inherit;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 0%;
  padding: 0.5rem;
}

.formContainer {
  padding: 0 var(--padding) var(--padding) var(--padding);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.containerTemplate {
  border-radius: var(--border-radius-main);
  border: 1px solid var(--border-light);
  box-shadow: var(--box-shadow);
  min-width: 0%;
  background-color: var(--background-color-secondary);
  color: var(--text-color-dark)
}

.titleTemplate {
  text-align: left;
  padding: var(--padding-title);
  border-bottom: 1px solid var(--border-light);
}

.bodyTemplate {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.footerTemplate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  border-top: 1px solid var(--border-light);
  padding: var(--padding);
}



/* #addTrade {
  max-width: 80vw;
  border-radius: var(--border-radius-main);
  border: 1px solid var(--background-color-secondary);
  box-shadow: var(--box-shadow);
  min-width: 0%;
  background-color: var(--background-color-secondary);
  margin: var(--margin);
}


.addOption {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
} */

@media screen and (max-width: 750px) {
  #addTradeBody, .addOption {
    flex-wrap: wrap;
  }
}

table {
  background-color: var(--background-color-secondary);
  border-top: 1px solid var(--border-light);
  border-bottom-left-radius: var(--border-radius-mid);
  border-bottom-right-radius: var(--border-radius-mid);
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  min-width: 600px;
  overflow:hidden;
  font-size: 0.9em;
  color: var(--text-color-dark)
}

caption {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  /* text-align: left */
}

th {
  /* border-bottom: 1px solid var(--background-color-highlight); */
  /* border-top: 1px solid var(--border-light); */
}

/* th:first-child{
  border-top-left-radius: var(--border-radius-main);
}

th:last-child {
  border-top-right-radius: var(--border-radius-main);
} */

thead > tr {
  background-color: var(--background-color-main);
  color: var(--text-color-light)
}

tbody > tr {
  background-color: var(--background-color-secondary);
}

tr:hover td {
  border: 1px solid var(--background-color-blue );
  border-style: solid none;
  padding: 10px;
}

tr:hover td:first-child {
  border-left-style: solid;
  border-top-left-radius: var(--border-radius-main);
  border-bottom-left-radius: var(--border-radius-main);
}

tr:hover td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: var(--border-radius-main);
  border-top-right-radius: var(--border-radius-main);
}

th, td {
  background-color: transparent;
  text-align: left;
  padding: 0.5rem 0.5rem;
  min-width: 50px;
  border-bottom: 1px solid var(--border-light);
}

.inputCsv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding);
  /* margin: 1rem; */
}

.inputCsv >  * {
  padding: 0.25rem;
}


.inputCsv > label {
  align-content: flex-start;
}

.inputCsv > input::file-selector-button {
  background-color: var(--background-color-button);
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-main);
}