:root {
  --background-color-nav : #303838;
  --background-color-main : #232829;
  --background-color-secondary : #303838;

  --background-color-highlight : #eaeaea;
  --background-color-button : #74c68a;
  --background-color-button-blue : #74aac6;
  /* --background-color-button-green : #B1F054; */
  --background-color-button-red :#f05454;

  /* --background-color-main-light : #eaeaea;
  --background-color-secondary-light : #f5f5f5; */
  
  --text-color-light : #eaeaea;
  --text-color-alt : #4F5D75;
  --text-color-dark : #232829;

  --nav-width : 15%;
  --padding : 0.5rem;
  --padding-small : 0.25rem;
  --padding-title : 1rem;
  --margin : 1rem;

  --border-radius-main : 0.25rem;

  --box-shadow : 0px 0px 5px 0 rgba(0, 0, 0, .2);
  --box-shadow-light : 0px 0px 5px 0 rgba(1, 1, 1, .2);
}

body {    
  margin: 0px;
  background-color: var(--background-color-main);
  min-height: 100vh;
  color: var(--text-color-light);
  /* font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif; */
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"

}

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

main {
  overflow-y: auto;
}

#mainContainer {
  padding-left: var(--nav-width);
}

button {
  background-color: var(--background-color-button);
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-main);
}

button:hover {
  filter: brightness(125%);
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--background-color-main);
  padding: 0;
  width: 100%;
}

.inputSelect {
  background-color: var(--background-color-main);
  border: solid 1px var(--background-color-secondary);
  min-width: 0;
  color: var(--text-color-light);
  padding: var(--padding);
}

/* Hacky way to change date input icon */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

fieldset {
  border: 1px solid var(--background-color-secondary); 
  border-radius: var(--border-radius-main);
  min-width: 0%;
  margin: 0.5rem;
}

label {
  padding: var(--padding);
}
/* legend
{
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
  background-color: var(--background-color-main);
  border: 1px solid var(--background-color-secondary);
  color: var(--text-color-light);
  padding: var(--padding);
}

input[type=text], input[type=date], input[type=number], input[type=checkbox], select{
  margin: 0.25rem 0;
  display: block;
  /* border: 1px solid var(--background-color-highlight); */
  box-sizing: border-box;
}


input[type=number]{
  -moz-appearance: textfield;

}

input[type=date]{
  font-family: inherit;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 0%;
  padding: 0.5rem;
}

.formContainer {
  padding: 0 var(--padding) var(--padding) var(--padding);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.containerTemplate {
  border-radius: var(--border-radius-main);
  border: 1px solid var(--background-color-secondary);
  box-shadow: var(--box-shadow);
  min-width: 0%;
  background-color: var(--background-color-secondary);
  margin: var(--margin);
}

.titleTemplate {
  text-align: left;
  padding: var(--padding-title);
  border-bottom: 1px solid var(--text-color-dark);
}

.bodyTemplate {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.footerTemplate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  border-top: 1px solid var(--text-color-dark);
  padding: var(--padding);
}



/* #addTrade {
  max-width: 80vw;
  border-radius: var(--border-radius-main);
  border: 1px solid var(--background-color-secondary);
  box-shadow: var(--box-shadow);
  min-width: 0%;
  background-color: var(--background-color-secondary);
  margin: var(--margin);
}


.addOption {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
} */

@media screen and (max-width: 750px) {
  #addTradeBody, .addOption {
    flex-wrap: wrap;
  }
}

/* Make buttons round with centered text */
.buttonRemove:before {
  content:'';
  display:inline-block;;
  vertical-align:middle;
  padding-top:100%;
}

.buttonRemove {
  min-width: 25px;
  cursor: pointer;
  color: white;
  border-radius: var(--border-radius-main);
  text-align: center;
  padding: 0;
  background-color: var(--background-color-button-red);
  color: var(--background-color-main);
  /* padding: 0.2rem 0.5rem; */
}

.buttonRemove:hover {
  border: none;
  filter: brightness(125%);
}

.buttonAdd {
  background-color: var(--background-color-button);
  color: var(--background-color-main);
  padding: 0.2rem 0.5rem;
}

table {
  background-color: var(--background-color-secondary);
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  min-width: 600px;
  overflow:hidden;
  font-size: 0.9em;
}

caption {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

th {
  /* border-bottom: 1px solid var(--background-color-highlight); */
  filter: brightness(90%);
}

/* th:first-child{
  border-top-left-radius: var(--border-radius-main);
}

th:last-child {
  border-top-right-radius: var(--border-radius-main);
} */

thead > tr {
  background-color: var(--background-color-main);
}

tbody > tr {
  background-color: var(--background-color-secondary);
}

tbody > tr:hover{
  filter: brightness(120%);
}

th, td {
  background-color: transparent;
  text-align: left;
  padding: 1rem 3rem 1rem .5rem;
  min-width: 50px;
  border-bottom: 3px solid var(--background-color-main);
}

tr:not(:first-child) > td {
  /* border-top: 1px solid var(--background-color-highlight); */
}

.inputCsv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding);
  /* margin: 1rem; */
}

.inputCsv >  * {
  padding: 0.25rem;
}


.inputCsv > label {
  align-content: flex-start;
}

.inputCsv > input::file-selector-button {
  background-color: var(--background-color-button);
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-main);
}