:root {
  --background-color-main : #2D3142;
  --background-color-secondary : #4F5D75;
  --background-color-alt : #BFC0C0;
  --background-color-button : #B1F054;
  --text-color-main : #FFFFFF;
  --text-color-alt : #4F5D75;
  --text-color-secondary : #2D3142;
  /* --background-color-main : #222831;
  --background-color-secondary : #31363F;
  --background-color-button : #76ABAE;
  --text-color-main : #E7F6F2;
  --text-color-secondary : #222831; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{    
  margin: 0px;
  padding: 0px;
  background-color: var(--background-color-main);
  color: var(--text-color-main);
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

#addTrade {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  max-width: 80vw;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--background-color-secondary);
}

#addTrade > div{
  max-width: 250px;
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* flex: 1 1 250px; */

  text-wrap: nowrap;
  text-align: left;
}

input, select {
  margin: 0.5rem;
  margin-top: 0;
}

#addTrade > div > label {
  flex: 1;
}

#addTrade > div > input {
  flex: 1;
}

#addTrade > *{
  /* flex: 1 1 100px; */
}

