:root {
  --background-color-main : #2D3142;
  --background-color-secondary : #4F5D75;
  --background-color-highlight : #BFC0C0;
  --background-color-button : #B1F054;
  --background-color-button-red :#f05454;

  --text-color-main : #FFFFFF;
  --text-color-alt : #4F5D75;
  --text-color-secondary : #2D3142;

  --border-radius-main: 0.7rem;
  /* --background-color-main : #222831;
  --background-color-secondary : #31363F;
  --background-color-button : #76ABAE;
  --text-color-main : #E7F6F2;
  --text-color-secondary : #222831; */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

body{    
  margin: 0px;
  padding: 0px;
  background-color: var(--background-color-main);
  color: var(--text-color-main);
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

button:hover {
  filter: brightness(125%);
}

.inputSelect {
  background: var(--background-color-main);
  border:none;
  font-size: 1rem;
  min-width: 0;
  width: 100%;
  color: var(--text-color-main);
}

/* Hacky way to change date input icon */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

fieldset {
  border: 1px solid var(--background-color-secondary); 
  border-radius: var(--border-radius-main);
  min-width: 0%;
  margin: 0.5rem;
}

/* legend
{
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

input[type=date]{
  font-family: inherit;
}

#addTrade {
  max-width: 80vw;
  border-radius: var(--border-radius-main);
  border: 1px solid var(--background-color-secondary);
  /* box-shadow: 10px 5px 5px black; */
  box-shadow: 0 5px 22px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .2);
  min-width: 0%;
  background-color: var(--background-color-main);
}

#addTradeTitle {
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid var(--background-color-secondary);
}

#addTradeBody {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  min-width: 0%;
}

#addTradeLeg {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#addTradeFooter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  border-top: 1px solid var(--background-color-secondary);
  padding: 1rem;
  align-self: end;
}

.addOption {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 750px) {
  #addTradeBody, .addOption {
    flex-wrap: wrap;
  }
}

/* Make buttons round with centered text */
.buttonRemove:before {
  content:'';
  display:inline-block;;
  vertical-align:middle;
  padding-top:100%;
}

.buttonRemove {
  min-width: 25px;
  cursor: pointer;
  color: white;
  border-radius: var(--border-radius-main) text-align: center;
  padding: 0;
  background-color: var(--background-color-button-red);
  color: var(--background-color-main);
  /* padding: 0.2rem 0.5rem; */
}

.buttonRemove:hover {
  border: none;
  /* box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1); */
  filter: brightness(125%);
  /* box-shadow: 0 5px 22px 0 rgba(255, 255, 255, 0.2); */

}

.buttonAdd {
  background-color: var(--background-color-button);
  color: var(--background-color-main);
  padding: 0.2rem 0.5rem;
}

table {
  background-color: var(--background-color-secondary);
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  min-width: 600px;
  overflow:hidden;
  font-size: 0.9em;
}

caption {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

th {
  /* border-bottom: 1px solid var(--background-color-highlight); */
  filter: brightness(90%);
}

/* th:first-child{
  border-top-left-radius: var(--border-radius-main);
}

th:last-child {
  border-top-right-radius: var(--border-radius-main);
} */

thead > tr {
  background-color: var(--background-color-main);
}

tbody > tr {
  background-color: var(--background-color-secondary);
}

tbody > tr:hover{
  filter: brightness(120%);
}

th, td {
  background-color: transparent;
  text-align: left;
  padding: 1rem 3rem 1rem .5rem;
  min-width: 50px;
  border-bottom: 3px solid var(--background-color-main);
}

tr:not(:first-child) > td {
  /* border-top: 1px solid var(--background-color-highlight); */
}

.inputCsv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem;
}

.inputCsv >  * {
  padding: 0.25rem;
}


.inputCsv > label {
  align-content: flex-start;
}

.inputCsv > input::file-selector-button {
  background-color: var(--background-color-secondary);
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-main);
}